
$reimu-red: #AD0000;
$darker-reimu-red: #800000;

// new colors
$readable-red: #BF3444;
$brand-red: #FF4949;
$color-dark: #2E2A31;

$dark-gohei-header-bkgnd: #5683CB;
$parchment: #FBF7EB;
$pale-yellow: #FFFDE7;
$highlight-text: #FFF5B5;

$pink: #FFE1E1;
$dark-marisa-color: #874a9e;

.aqua {background-color: aqua !important; color:black !important}
.purple {background-color: purple !important;color:white !important}
.fuchsia {background-color: #ff77d2 !important;color:black !important}
.green {background-color: green !important;color:white !important}
.lime {background-color: lime !important;color:black!important}
.olive {background-color: #9cd21e !important;color:black !important}
.yellow {background-color: yellow !important;color:black !important}
.navy {background-color: navy !important;color:white !important}
.blue {background-color: blue !important;color:white !important}
.teal {background-color: teal !important;color:white !important}
.black {background-color: black !important;color:white !important}
.silver {background-color: #c0c0c0 !important;color:black !important}
.gray {background-color: #ffa032 !important;color:black !important}

