@use 'declared_colors';

#filter-searchgroup #searchbar{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#filter-searchgroup #searchend {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.submitbutton {
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 50px;
}

#filterForm .form-check .form-check-input {
  display: none;
}

#filterForm .form-check-label > .badge {
  border: 3px solid currentColor;
  transition: border 1s;
}

#filterForm .form-check-input:checked ~ .form-check-label > .badge {
  border: 3px dashed currentColor !important;
}

[data-bs-theme="light"] {

  #filter-searchgroup #searchbar{
    border-left: 2px solid declared_colors.$readable_red;
    border-top: 2px solid declared_colors.$readable_red;
    border-bottom: 2px solid declared_colors.$readable_red;
  }

  #filter-searchgroup #searchend {
    border-right: 2px solid declared_colors.$readable_red;
    border-top: 2px solid declared_colors.$readable_red;
    border-bottom: 2px solid declared_colors.$readable_red;
  }

  #filter-searchgroup #searchtext {
    border-top: 2px solid declared_colors.$readable_red;
    border-bottom: 2px solid declared_colors.$readable_red;
  }

  .submitbutton {
    background-color: declared_colors.$readable_red;
    border-color: declared_colors.$readable-red;
  }

}
[data-bs-theme="dark"] {

  #filter-searchgroup #searchbar{
    border-left: 2px solid declared_colors.$dark-gohei-header-bkgnd;
    border-top: 2px solid declared_colors.$dark-gohei-header-bkgnd;
    border-bottom: 2px solid declared_colors.$dark-gohei-header-bkgnd;
  }

  #filter-searchgroup #searchend {
    border-right: 2px solid declared_colors.$dark-gohei-header-bkgnd;
    border-top: 2px solid declared_colors.$dark-gohei-header-bkgnd;
    border-bottom: 2px solid declared_colors.$dark-gohei-header-bkgnd;
  }

  #filter-searchgroup #searchtext {
    border-top: 2px solid declared_colors.$dark-gohei-header-bkgnd;
    border-bottom: 2px solid declared_colors.$dark-gohei-header-bkgnd;
  }

  .submitbutton {
    background-color: declared_colors.$dark-gohei-header-bkgnd;
    border-color: declared_colors.$dark-gohei-header-bkgnd;
  }

}