@use 'declared_colors';

.day-indicator {
    padding: 3em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 10px;
}

// css for primary list of events
[data-bs-theme="light"] { 
 
  .event-item h4 {
    color: declared_colors.$readable-red;
  }

  .day-indicator{
    background-color: declared_colors.$readable-red; // #ff5959;
    color: #FFF9EE;
}

}

[data-bs-theme="dark"] {

  .event-item h4 {
    color: declared_colors.$brand-red;
  }

  .day-indicator{
    background-color: declared_colors.$dark-gohei-header-bkgnd; // #ff5959;
    color: #FFF9EE;
  }

}