@use 'declared_colors.scss';

thead th {
  background-color: declared_colors.$readable_red !important;
  color: white !important;
}

th, td {
  padding: 1rem !important;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px; /* Adjust radius as needed */
  border: 1px solid black; /* Table border */
  overflow: hidden; /* Ensures content doesn't bleed out of corners */
}


[data-bs-theme="light"] {
  thead th {
    background-color: declared_colors.$readable_red !important;
    color: white !important;
  }
}
[data-bs-theme="dark"] {
  thead th {
    background-color: declared_colors.$dark-gohei-header-bkgnd !important;
    color: white !important;
  }
}