.aqua {background-color: aqua !important; color:black !important}
.purple {background-color: purple !important;color:white !important}
.fuchsia {background-color: fuchsia !important;color:white !important}
.green {background-color: green !important;color:white !important}
.lime {background-color: lime !important;color:black!important}
.olive {background-color: olive !important;color:white !important}
.yellow {background-color: yellow !important;color:black !important}
.navy {background-color: navy !important;color:white !important}
.blue {background-color: blue !important;color:white !important}
.teal {background-color: teal !important;color:white !important}
.black {background-color: black !important;color:white !important}
.silver {background-color: silver !important;color:black !important}
.gray {background-color: gray !important;color:black !important}

.eventDescription {
  white-space: pre-line;
}

/* manually adjust the height of navbar and footer as fix to floating footer problem */
#dataset{
  min-height: calc(100vh - 56px - 40px);
  display: flex;
}

html {
  height: 100%;
}

body {
  height:100%;
}

.hasFilters {
  background-color: lightgreen;
  border-radius: 50px;
}

/*code to push date indicators below the navbar*/
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top2 {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    z-index: 1019;
  }
} 

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

.anchorpoint {
  scroll-margin-top: 56px;
}

/* TODO: implement more fancy theme setup with Sass */

.day-indicator{
  background-color: #ff5959;
  color: #FFF9EE;
}

#main-navbar {
  background-color: #FFF7F7 !important;
}

#filter-widget a, #day-dropdown-widget {
  color: #3B3249 !important;
}

.event-item{
  background-color: #FFF9EE;
}

body{
  background-color: #FFF9EE;
}

.nav-fill {
  background-color: #372E45 !important;
}

.nav-fill .nav-item > .active {
  color: #f5ec42;
}

.nav-fill .nav-item > :not(.active) {
  color: white;
}

.offcanvas-header {
  color: #FFF9EE;
  background-color: #D72640;
}

.offcanvas-title {
  font-weight: bold;
}

.offcanvas-header > .btn-close, .offcanvas-header > .btn-close:hover{
  filter: brightness(0%) invert(100%) !important;
  color: white !important;
  opacity: 1;
}

.offcanvas-body {
  background-color: #E6E4E8;
  color: #372E45;
}

/*
.submitbutton {
  background-color: #372E45;
  color: #E6E4E8;
}

.submitbutton:active, .submitbutton:hover{
  background-color: #1e1926 !important;
  color: #E6E4E8 !important;
}
*/

.pink-one {
  background-color: #ffbdf8 !important;
  color: #372E45 !important;
}

.red-one {
  background-color: #ffbdbd !important;
  color: #372E45 !important;
}

.purple-one {
  background-color: #d4b3ff !important;
  color: #372E45 !important;
}

.gold-bg {
  background-color: gold;
  color: black;
}

.silver-bg {
  background-color: silver;
  color: black;
}

.th10 {
  background: linear-gradient(135deg, #2bd887 0%,#7db9e8 100%);
  color: black;
}

.th06 {
  background: linear-gradient(135deg, #ff3236 0%,#ffd289 100%);
  color: black;
}

.th07 {
  background: linear-gradient(135deg, #a622ad 0%,#ffb5f0 100%);
  color: black;
}

.th15 {
  background: linear-gradient(135deg, #822c8c 0%,#ff3236 100%);
  color: black;
}

.pc98 {
  background: linear-gradient(135deg, #8d1cff 0%,#a8ddff 100%);
  color: black;
}

.th08 {
  background: linear-gradient(135deg, #560955 0%,#ffb121 100%);
  color: black;
}

.fight {
  background: linear-gradient(135deg, #1c73ff 0%,#ffa221 100%);
  color: black;
}

.event-item .datedisplay {
  display: none;
}

.newtimes {
  background-color: #ffff99;
}