@use 'css/font_declarations';
@use 'css/declared_colors';
@use 'css/gohei_header';
@use 'css/main_events';
@use 'css/navbar';
@use 'css/modal_styling.scss';
@use 'css/offcanvas.scss';
@use 'css/bottom_bar.scss';
@use 'css/filter_options.scss';
@use 'css/new_generic_card.scss';
@use 'css/table_styling.scss';

.fragment-scroll {
  scroll-margin-top: 80px;
}

.eventDescription {
  white-space: pre-line;
}

html {
  height: 100%;
}

body {
  height:100%;
}

.hasFilters {
  background-color: lightgreen;
  border-radius: 50px;
}

/* TODO: implement more fancy theme setup with Sass */
[data-bs-theme="light"] {


  #filter-widget a {
    color: #3B3249 !important;
  }
  body{
    background-color: declared_colors.$parchment;
  }

  .display-dark {
    display: none;
  }

  .thfest-listgroup .list-group-item {
    background-color: declared_colors.$parchment;
    border-color: declared_colors.$readable_red;
  }

  .thfest-listgroup .nav-fill .nav-item > .active {
    color: white !important;
    background-color: declared_colors.$readable_red;
  }

}

[data-bs-theme="dark"] {


  body {
    background-color: declared_colors.$color-dark;
  }

  #filter-widget a {
    color: #FFF7F7 !important;
  }

  .display-light {
    display: none;
  }

  .thfest-listgroup .list-group-item {
    background-color: declared_colors.$color-dark;
    border-color: declared_colors.$dark-gohei-header-bkgnd;
  }

  .thfest-listgroup .nav-fill .nav-item > .active {
    color: white !important;
    background-color: declared_colors.$dark-gohei-header-bkgnd;
  }



}

.pink-one {
  background-color: #ffbdf8 !important;
  color: #372E45 !important;
}

.red-one {
  background-color: #ffbdbd !important;
  color: #372E45 !important;
}

.purple-one {
  background-color: #d4b3ff !important;
  color: #372E45 !important;
}

.gold-bg {
  background-color: gold;
  color: black;
}

.silver-bg {
  background-color: silver;
  color: black;
}

.th10 {
  background: linear-gradient(135deg, #2bd887 0%,#7db9e8 100%);
  color: black;
}

.th06 {
  background: linear-gradient(135deg, #ff3236 0%,#ffd289 100%);
  color: black;
}

.th07 {
  background: linear-gradient(135deg, #a622ad 0%,#ffb5f0 100%);
  color: white;
}

.th15 {
  background: linear-gradient(135deg, #822c8c 0%,#ff3236 100%);
  color: white;
}

.pc98 {
  background: linear-gradient(135deg, #8d1cff 0%,#a8ddff 100%);
  color: white;
}

.th08 {
  background: linear-gradient(135deg, #560955 0%,#ffb121 100%);
  color: white;
}

.fight {
  background: linear-gradient(135deg, #1c73ff 0%,#ffa221 100%);
  color: white;
}


// rest continues
pwa-toast{
  z-index:9999;
}

.filter-indicator {
  color: rgb(60, 179, 113) !important;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}

.carousel-control-next-icon {
  padding: 1em;
}

.carousel-indicators, .carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: rgba(128,128,128,0.6);
  opacity: 1;
  border-radius: 3px;
}

.nobr {
  white-space: nowrap;
}

.badge {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.Con_Ops {
  background-color: #CBCBD2 !important;
}

.Gaming {

  background-color:#12874D !important; 
}

.Cosplay {

  background-color: #6B6DE6 !important;
}

.Performance {

  background-color: #DC1E93 !important;
}

.Music {

  background-color: #CD4756 !important;
}

.Photoshoot {

  background-color: #D17010 !important;

}

.Screening {

  background-color: #377E8B !important;

}

.Guest {

  background-color: #B435DE !important;
}

.Panels {

  background-color: #A96062 !important;
}