@font-face {
  font-family: Poppins;
  src: url(fonts/poppins/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url(fonts/poppins/Poppins-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url(fonts/poppins/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Open-Sans;
  src: url('fonts/open_sans/OpenSans-VariableFont_wdth,wght.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Open-Sans;
  src: url('fonts/open_sans/OpenSans-VariableFont_wdth,wght.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Open-Sans;
  src: url('fonts/open_sans/OpenSans-Italic-VariableFont_wdth,wght.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Open-Sans;
  src: url('fonts/open_sans/OpenSans-Italic-VariableFont_wdth,wght.ttf');
  font-weight: 700;
  font-style: italic;
}



body {
  font-family: 'Open-Sans';
}

h4, h5, h6 {
  font-family: 'Poppins';
  font-weight: bold;
}

button {
  font-family: 'Poppins' !important;
  font-weight: 500 !important;
}

.aqua {background-color: aqua !important; color:black !important}
.purple {background-color: purple !important;color:white !important}
.fuchsia {background-color: #ff77d2 !important;color:black !important}
.green {background-color: green !important;color:white !important}
.lime {background-color: lime !important;color:black!important}
.olive {background-color: #9cd21e !important;color:black !important}
.yellow {background-color: yellow !important;color:black !important}
.navy {background-color: navy !important;color:white !important}
.blue {background-color: blue !important;color:white !important}
.teal {background-color: teal !important;color:white !important}
.black {background-color: black !important;color:white !important}
.silver {background-color: #c0c0c0 !important;color:black !important}
.gray {background-color: #ffa032 !important;color:black !important}

.eventDescription {
  white-space: pre-line;
}

/* manually adjust the height of navbar and footer as fix to floating footer problem */
#dataset{
  min-height: calc(100vh - 56px - 40px);
  display: flex;
}

html {
  height: 100%;
}

body {
  height:100%;
}

.hasFilters {
  background-color: lightgreen;
  border-radius: 50px;
}

/*code to push date indicators below the navbar*/
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top2 {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    z-index: 1019;
  }
} 

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

.anchorpoint {
  scroll-margin-top: 56px;
}

$reimu-red: #AD0000;
$darker-reimu-red: #800000;

/* TODO: implement more fancy theme setup with Sass */
[data-bs-theme="light"] {
  .day-indicator{
    background-color: $reimu-red; // #ff5959;
    color: #FFF9EE;
  }

  #main-navbar {
    background-color: #FFF7F7 !important;
  }

  #filter-widget a, #day-dropdown-widget {
    color: #3B3249 !important;
  }

  .event-item{
    background-color: #FFF9EE;
  }

  body{
    background-color: #FFF9EE;
  }

  .nav-fill {
    background-color: $darker-reimu-red !important;
  }

  .offcanvas-header {
    color: #FFF9EE;
    background-color: $reimu-red;
  }

  .offcanvas-body {
    background-color: #E6E4E8;
    color: #372E45;
  }


}

[data-bs-theme="dark"] {
  #main-navbar {
    background-color: #3B3249 !important;
  }

  #filter-widget a, #day-dropdown-widget {
    color: #FFF7F7 !important;
  }

  .day-indicator{
    background-color:#1f0c00;
    color: #FFF9EE;
  }

  .nav-fill {
    background-color: #372E45 !important;
  }

  .offcanvas-header {
    color: #FFF9EE;
    background-color: #16001f;
  }

  .offcanvas-body {
    color: #E6E4E8;
    background-color: #372E45;
  }

}


.nav-fill .nav-item > .active {
  color: #f5ec42;
}

.nav-fill .nav-item > :not(.active) {
  color: white;
}


.offcanvas-title {
  font-weight: bold;
}

.offcanvas-header > .btn-close, .offcanvas-header > .btn-close:hover{
  filter: brightness(0%) invert(100%) !important;
  color: white !important;
  opacity: 1;
}


.pink-one {
  background-color: #ffbdf8 !important;
  color: #372E45 !important;
}

.red-one {
  background-color: #ffbdbd !important;
  color: #372E45 !important;
}

.purple-one {
  background-color: #d4b3ff !important;
  color: #372E45 !important;
}

.gold-bg {
  background-color: gold;
  color: black;
}

.silver-bg {
  background-color: silver;
  color: black;
}

.th10 {
  background: linear-gradient(135deg, #2bd887 0%,#7db9e8 100%);
  color: black;
}

.th06 {
  background: linear-gradient(135deg, #ff3236 0%,#ffd289 100%);
  color: black;
}

.th07 {
  background: linear-gradient(135deg, #a622ad 0%,#ffb5f0 100%);
  color: white;
}

.th15 {
  background: linear-gradient(135deg, #822c8c 0%,#ff3236 100%);
  color: white;
}

.pc98 {
  background: linear-gradient(135deg, #8d1cff 0%,#a8ddff 100%);
  color: white;
}

.th08 {
  background: linear-gradient(135deg, #560955 0%,#ffb121 100%);
  color: white;
}

.fight {
  background: linear-gradient(135deg, #1c73ff 0%,#ffa221 100%);
  color: white;
}

.event-item .datedisplay {
  display: none;
}

.newtimes {
  background-color: #ffff99;
  color: black;
}

pwa-toast{
  z-index:9999;
}

.filter-indicator {
  color: rgb(60, 179, 113) !important;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
}

.carousel-control-next-icon {
  padding: 1em;
}

.carousel-indicators, .carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: rgba(128,128,128,0.6);
  opacity: 1;
  border-radius: 3px;
}

.nobr {
  white-space: nowrap;
}